<!-- Jumpotron -->
<div class="p-5 jumpotron" style="background-color: #ffba49">
    <video autoplay loop muted class="size-1">
        <source
            src="https://cdn.pixabay.com/video/2022/07/12/123872-729413470_large.mp4"
            type="video/mp4"
        />
    </video>

    <div class="jumpotron-header">
        <p class="fs-1 fw-bold">Patsakorn Thiankhao</p>
        <p class="fw-semibold fs-3">Rayong technical college</p>
    </div>
</div>

<!-- Navbar -->
<nav class="flex flex-row" style="background-color: #20a39e">
    <a class="" href="#">Navbar</a>
    <ul class="flex me-auto mb-2 mb-lg-0">
        <!-- Home -->
        <li class="nav-item">
            <a class="nav-link active" href="index.html">Home</a>
        </li>
        <!-- Page 1 -->
        <li class="nav-item">
            <a class="nav-link" href="page01.html">Page 1</a>
        </li>

        <!-- Page 2 -->
        <li class="nav-item">
            <a class="nav-link" href="page02.html">Page 2</a>
        </li>
    </ul>
    <form class="d-flex" role="search">
        <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
        />
        <button class="btn btn-secondary" type="submit">Search</button>
    </form>
</nav>
